.center{
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.left{
    float: left;
    text-align: left;
    width: 300px;
}

.right{
    float: right;
    text-align: right;
    width: 300px;
}

body{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: aqua;
}